
// Body
$body-bg: #EBEBEB;
$body-color: #424C54;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.6;

// Colors
$primary: #20b885;

// Card
$card-bg: #FAFAFA;
$card-cap-bg: #fff;
$card-border-width: 0;
