// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Shamelessly copy forge styles
.navbar-laravel {
  border-top: 4px solid #20b885;
  background-color: #353535;
  font-size: 1.1em;
  margin-bottom: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
nav.navbar .dropdown-menu {
  background: #353535;
}
nav.navbar .dropdown-menu .dropdown-item {
  color: #fff;
  &:hover {
    background-color: #353535;
    color: #ddd;
  }
}

.card {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  .card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
    }
    h5 {
      margin: 0;
    }
  }
}

.inner-nav {
  a {
    padding: 0;
    color: $body-color !important;
    padding-bottom: 15px;
    &:hover,
    &.active {
      background-color: transparent !important;
      color: #20b885 !important;
      .icon {
        fill: #20b885;
      }
    }
  }
  .icon {
    fill: #BDBDBD;
    margin-right: 5px;
  }
}